.tip-text, .tip-text input{
    background-color: hsl(189, 41%, 97%);
    color: hsl(184, 14%, 56%);
    border-radius: 0.2rem;
    font-size: 1.5rem;
    height: 3rem;
    border: none;
    text-align: right;
}
.tip-text {
    flex: 0 0 30%;
    margin-bottom: 1rem;
}
.tip-text input {
    padding: 0 1rem;
    width: 100%;
    color:hsl(183, 100%, 15%);
    font-weight: 700;
}

.tip-text input::placeholder{
    text-align: center;
    color:hsl(183, 100%, 15%);
}

.tip-text input:focus{
    outline: none;
    padding: 0 1rem;
    color: hsl(183, 100%, 15%);
    border: 0.15rem solid hsl(172, 67%, 45%);
}

.tip-text input.error:focus{
    border: 0.15rem solid hsl(0, 100%, 50%);
    
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}