@import url('https://fonts.googleapis.com/css2?family=Space+Mono:wght@400;500;700&display=swap');

.display-element{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 1rem;
}

.display-element > .name > p:first-child{
    color: hsl(189, 41%, 97%);
    font-size: 1.5rem;
    font-weight: 600;
}

.display-element > .name > p:last-child{
    color: hsl(184, 14%, 56%);
    font-size: 1rem;
    font-weight: 600;
}

.display-element > .amount > p{
    font-size: 3rem;
    color: hsl(172, 67%, 45%);
    font-weight: 700;
}